<!-- Buscador -->
<div class="row align-items-center text-center bg">
  <div class="col-md-5 col-sm-12 offset-sm-4">
    <h2 class="text-center mb-5">¿Qué servicio querés buscar?</h2>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Comience a escribir un nombre, apellido, oficina o piso..." [(ngModel)]="cadenaBuscar" (keyup)="onKeyPress()">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon2">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </div>
    <div class="form-check form-check-inline mt-3">
      <input class="form-check-input" type="radio" name="filtro" id="empresa" [(ngModel)]="criterioBusqueda" value="empresa">
      <label class="form-check-label" for="empresa">Empresa</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="filtro" id="ublicacion" [(ngModel)]="criterioBusqueda" value="ubicacion">
      <label class="form-check-label" for="ublicacion">Ubicación</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="filtro" id="vencimiento"[(ngModel)]="criterioBusqueda" value="vencimiento">
      <label class="form-check-label" for="vencimiento">Vencimiento</label>
    </div>
  </div>
</div>


<!-- Tarjetas -->
<div class="container mb-4">
  <div class="row mt-3 justify-content-center mt-3">

    <div class="col-12 text-center mt-5" *ngIf="arrAuxiliar.length == 0">
      <i class="fas fa-spinner fa-spin fa-4x mt-5"></i>
      <p class="text-muted">Cargando...</p>
    </div>

    <div class="card" *ngFor="let f of arrAuxiliar" [ngClass]="{'por-vencer': calcularDifFechas(f.proxVencimiento)<5}">
      <div class="card-body">
        <div class="text-right">
          <div class="dropdown">
            <a data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" data-toggle="modal" data-target="#modalPagarServicio" (click)="objetoPagar = f">
                Pagar
              </a>
              <a class="dropdown-item" data-toggle="modal" data-target="#modalServicio" (click)="objetoEditar = f">
                Editar
              </a>
              <a class="dropdown-item" (click)="navegarHistorial(f)">
                Historial
              </a>
            </div>
          </div>
        </div>

        <img [src]="f.rutaImagen" class="img-fluid img-servicio mb-3">
        <p class="mb-1 card-subtitle text-muted mt-2">
          <i class="fas fa-building"></i> {{f.domicilio}}
        </p>
        <p class="mb-1">
          <i class="far fa-clock"></i> {{f.proxVencimiento | date: 'dd/MM/yyyy'}}</p>
        <p>
          <!-- <i class="fas fa-dollar-sign"></i> {{f.montoAnterior}}</p> -->
      </div>
    </div>

    <div class="btn-fixed fixed-bottom text-right mb-3 mr-3">
      <i class="fas fa-4x fa-plus-circle" data-toggle="modal" data-target="#modalServicio" (click)="objetoEditar = null"></i>
    </div>

    <app-modal-servicio (onSuccess)="traerFacturas()" [objetoEditar]="objetoEditar"></app-modal-servicio>
    <app-modal-pagar-servicio [objetoPagar]="objetoPagar"></app-modal-pagar-servicio>